<form novalidate [formGroup]="form" (ngSubmit)="submit($event)">
    <div fxLayout="row" fxLayoutAlign="center">
        <md-card fxFlex="500px">
            <md-card-title>Personal Information</md-card-title>
            <md-card-content fxLayout="column" fxLayoutAlign="space-between" fxLayoutGap="16px">
                <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="5px">
                    <md-input-container fxFlex="50%">
                        <input mdInput placeholder="first name" formControlName="firstName">
                        <md-hint *ngIf="form.controls.firstName.invalid && formSubmitted" class="error">
                            <span [hidden]="!form.controls.firstName.errors.required">first name is required</span>
                        </md-hint>
                    </md-input-container>
                    <md-input-container fxFlex="50%">
                        <input mdInput placeholder="surname" formControlName="surname">
                        <md-hint *ngIf="form.controls.surname.invalid && formSubmitted" class="error">
                            <span [hidden]="!form.controls.surname.errors.required">surname is required</span>
                        </md-hint>
                    </md-input-container>
                </div>
                <md-input-container>
                    <input mdInput placeholder="location" formControlName="location" ng2-google-place-autocomplete (setAddress)="setLocation($event)"
                    (focus)="disableSubmitOnEnter()" (focusout)="enableSubmitOnEnter()" [options]="googlePlacesLookupOptions" />
                    <md-hint>helps to find nearby games (optional)</md-hint>
                </md-input-container>
                <md-input-container>
                    <input mdInput type="number" placeholder="mobile" formControlName="mobileNumber">
                    <md-hint>helps everyone keep in touch (optional</md-hint>
                </md-input-container>
            </md-card-content>
            <md-card-actions class="coloured-buttons">
                <button type="submit" md-raised-button color="primary">SAVE</button>
            </md-card-actions>
        </md-card>
    </div>
</form>