<form novalidate [formGroup]="form" (ngSubmit)="submit()">
    <div fxLayout="row" fxLayoutAlign="center">
        <md-card fxFlex="500px">
            <md-card-title>Who are you?</md-card-title>
            <md-card-content fxLayout="column" fxLayoutAlign="space-between" fxLayoutGap="16px">
                <md-input-container>
                    <input mdInput placeholder="Name" formControlName="name">
                    <md-hint *ngIf="form.controls.name.invalid && formSubmitted" class="error">
                        <span [hidden]="!form.controls.name.errors.required">name is required</span>
                    </md-hint>
                </md-input-container>             
            </md-card-content>
            <md-card-actions class="coloured-buttons">
                <button type="button" md-raised-button color="primary" (click)="skipInitialisation()">SKIP</button>
                <button type="submit" md-raised-button color="primary">SAVE</button>
            </md-card-actions>
        </md-card>
    </div>
</form>