<div fxLayout="row" fxLayoutAlign="space-around stretch" class="full-screen">
  <div class="auth-form">
    <app-reset-password-form formTitle="Register" (formSubmitEvent)="resetPassword($event)"></app-reset-password-form>
    <div fxLayout="column" fxLayoutAlign="space-between">
      <a md-button routerLink="../login" color="primary">Remembered your password?  Go to login</a>
      <a md-button routerLink="../register" color="primary">Need an account?  Register here</a>
    </div>
  </div>
</div>
<md-progress-spinner *ngIf="loading" mode="indeterminate" class="loading"></md-progress-spinner>