<div fxLayout="row" fxLayoutAlign="space-around stretch" class="full-screen">
  <div fxLayout="column" fxLayoutAlign="space-between" fxLayoutGap="10px">
    <md-card>
      <md-card-title>Success!</md-card-title>
      <md-card-content>
        <p>We've sent a mail to {{email | async}}.  Please check your email and follow the instructions to reset your password.</p>
        <p>If you have any problems you can <a color="primary" routerLink="/reset-password">send another password reset email</a>.</p>
      </md-card-content>
      <md-card-actions class="coloured-buttons">
          <a md-raised-button color="primary" routerLink="/login">GO TO LOGIN</a>
      </md-card-actions>
    </md-card>  
  </div>
</div>